# Android / Gradle
android/.gradle/
android/.kotlin/
android/local.properties
android/**/build/
android/captures/
*.apk
*.aab

# Node
node_modules/
android/app/src/main/assets/nodejs-project/node_modules/

# Token / credentials
token/
*.jks
*.keystore
ms_token.json

# OS / Editor
.DS_Store
*.swp
.idea/